---
import { Image } from 'astro:assets'
import ThePolak1 from '../../assets/nft/thePolak1.png'
import ThePolak2 from '../../assets/nft/thePolak2.png'
import ThePolak3 from '../../assets/nft/thePolak3.png'
import ThePolak4 from '../../assets/nft/thePolak4.png'
import NFTPolska1 from '../../assets/nft/NFTPolska.png'
import NFTPolska2 from '../../assets/nft/nft154.jpeg'
---

<section class="nft-container mx-auto mt-10">
  <h1 class="text-5xl text-center">My NFT Collection.</h1>
  <p class="text-2xl mt-2 text-center sm:text-start">
    I help exploring and mastering the art of creating quality software in the
    Web3 landscape.
  </p>
  <div class='mt-10 flex justify-center items-center flex-col sm:grid sm:grid-cols-3 sm:grid-rows-2 mx-auto gap-4 nft-container'>
    <a target="_blank" href="https://opensea.io/assets/ethereum/0x99903e8ec87b9987bd6289df8eff178d6e533561/1264"><Image src={ThePolak1} alt='Image of thePolacy NFT' class="nft-img rounded-lg"/></a>
    <a target="_blank" href="https://opensea.io/assets/base/0x00799bec0b67a0ec80715deda97170386348b161/9"><Image src={NFTPolska1} alt='Image of thePolacy NFT' class="nft-img rounded-lg"/></a>
    <a target="_blank" href="https://opensea.io/assets/ethereum/0x99903e8ec87b9987bd6289df8eff178d6e533561/1603"><Image src={ThePolak2} alt='Image of thePolacy NFT' class="nft-img rounded-lg"/></a>
    <a target="_blank" href="https://opensea.io/assets/ethereum/0x4d6f3bb038a3e06c46e7b6aebe3cc84cd6ef3f5a/154"><Image src={NFTPolska2} alt='Image of thePolacy NFT' class="nft-img rounded-lg"/></a>
    <a target="_blank" href="https://opensea.io/assets/ethereum/0x99903e8ec87b9987bd6289df8eff178d6e533561/853"><Image src={ThePolak3} alt='Image of thePolacy NFT' class="nft-img rounded-lg"/></a>
    <a target="_blank" href="https://opensea.io/assets/ethereum/0x99903e8ec87b9987bd6289df8eff178d6e533561/2076"><Image src={ThePolak4} alt='Image of thePolacy NFT' class="nft-img rounded-lg"/></a>
  </div>
</section>

<style>
    .nft-img{
        width: 200px;
        height: 200px;
    }

    .nft-container{
        max-width: 640px;
    }

</style>
